// $headingFont: 'Shadows Into Light', cursive;
// $baseFont: 'Gayathri', sans-serif;

// $highlight: #89CFF0;
// $shadows:#d3d3d3;

// SMALL DESKTOPS //
@media (max-width: 1120px) {
    .wrapper {
        width: 85%;
    }



}

// Landscape phone to portrait tablet //
@media (max-width: 768px) {
    .wrapper {
        width: 85%;
    }


}


////////////////////////////////////////////////////

@media (max-width: 600px) {
    .wrapper {
        width: 85%;
    }


}

////////////////////////////////////////////////////

@media (max-width: 480px) {
    .wrapper {
        width: 85%;
    }


}

////////////////////////////////////////////////////

@media (max-width: 360px) {
    .wrapper {
        width: 85%;
    }


}