@import "setup";
// $headingFont: 'Shadows Into Light', cursive;
// $baseFont: 'Gayathri', sans-serif;

// $highlight: #89CFF0;
// $shadows:#d3d3d3;

// WRITE HERE
   .wrapper {
   margin: 10vh auto;
   }

   body {
      background-color: lightgray;
      h1,
      footer {
         text-align: center;
      }
   }

   .movie {
   display: flex;
   justify-content: space-around;
   height: 55vh;

   .movie1,
   .movie2 {
      width: 240px;
      height: 360px;
      //  margin: 5px 0;
      text-align: center;
      }
      .movieButton {
         border: 0;
         margin-bottom: 15px;
      }
      
         
   }

   .clickResult {
      color: rgb(181, 14, 14);
      font-weight: 700;
      text-align: center;
   }
   
   .refresh {
      // border-style: none;
      font-size: 1.6rem;
      background-color: white;
      padding: 5px;
   }


   footer {
      p {
         font-size: 2rem;
      }
   }




// **************************************************** //
// SCSS IMPORTS
// **************************************************** //

@import "mediaQueries"